.container{
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.supcard{
  width: 95%;
  background:linear-gradient(45deg,violet,blue,skyblue,green,yellow,orange,red);
  border-radius: 5px;
  box-shadow: 4px 4px 6px black;
}
.card{
  padding: 10px;
  margin: 4px;
  min-height:230px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card span{
  font-size: 20px;
  font-weight: 550;
  color: blue;
}
.card span u{
  color: black;
}
.card p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
}
.tags{
  display: flex;
  flex-direction: row;
}
.tags li{
  margin: 5px;
  padding: 3px 15px;
  list-style: none;
  display:block;
  border-radius: 5px;
  background:linear-gradient(45deg,red,orange,yellow,white);
  box-shadow: 0 0 5px red;
}
.createbutton{
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  border-radius: 30px;
  background-color:cyan;
  box-shadow: 0 0 20px 5px rgb(0, 13, 251);
  display: flex;
  align-items: center;
  justify-content: center;
}