.container{
  width:100%;
  
}
.formdetails{
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  margin: 10px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 550;
}
.input input,textarea{
  border-radius: 5px;
  padding: 0 8px;
}
.formdetails button{
  margin-top: 15px;
  background-color: lightgreen;
  padding: 0px 10px;
  font-size: 20px;
  width: 80px;
  border-radius: 5px;
}