.container{
  width:100%;
  
}
.formdetails{
  width: 80%;
  max-width: 700px;
  margin: 50px ;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  margin: 10px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 17px;
}
.input input,textarea{
  width: 95%;
  border-radius: 5px;
  padding: 8px 10px;
  border: 2px solid rgb(181, 178, 178);
}
.formdetails button{
  margin-top: 15px;
  background:linear-gradient(lightgreen,green,darkgreen,black);
  padding: 0px 10px;
  font-size: 23px;
  font-weight: 500;
  width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
}