.top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background:linear-gradient(90deg,rgb(32, 242, 228),white);
}
.nav{
  
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  position: relative;
}
.navbar{
  background:linear-gradient(45deg,rgb(8, 170, 246),rgb(47, 244, 47));
  height: 38px;
  display: flex;
  gap:20px;
  list-style: none;
  align-items: center;
  position:absolute;
  padding: 0 30px;
  border-radius: 5px;
  top:95%;
  box-shadow: 0px -4px 3px gray;
  cursor: pointer;
  transition: .5s;
}
/* .navbar:hover{
  background-color: rgb(141, 141, 238);
  padding: 5px 30px;
  box-shadow: 0px -6px 5px rgb(67, 64, 64);
  transition: .2s;
  position: relative;
} */
 
.navbar li{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}

.option{
  width: 100%;
  border-radius: 10px;
  max-height: 30vh;
  overflow: auto;
}
.option::-webkit-scrollbar{
  display: none;
}
.option ul{
  padding: 15px 10px;
  border-radius: 10px;
}
.option ul li{
  list-style: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
}
/* .option ul li:hover{
   background-color: #d0e4fd;
} */

/* .t1:hover{
  text-shadow: -15px -15px 0px black;
  opacity: 1;
  transition: .5s;
} */
.register{
  display: flex;
  gap: 10px;
  margin-right: 30px;
  align-items: center;
  
}
.register button{
  height: 37px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgb(237, 160, 88);
  transition: .5s;
}
/* .b1:hover{
  box-shadow: 0 0 15px rgb(5, 60, 199);
  position: relative;
} */
.b1{
  background:linear-gradient(45deg,violet,blue,skyblue,green,yellow,orange,red);
  color:white;
  font-size: 17px;
  font-weight: 550;
}