

body::-webkit-scrollbar{
  display: none;
} 


/* .bkimage{
 background-color: black;
 height: 100%;
 width: 100%;
 opacity: 0.4;
 top: 0;
 
} */



.footer{
  background-color: black;
  color: white;
}
.footer ul li a{
  color: white;
}

